.about-me {
    text-align: center;

    .about-me-heading {
        font-size: 3rem;
        font-weight: 300;
        color: #F5F5F5;
        background-color: #255a7b;
    }
    .about-me-text-container {
        padding: 0 350px 50px 350px;
    }
  }