@import 'header';
@import 'aboutMe';
@import 'contact';

:root {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;

  color-scheme: light dark;
  color: #262626;
  background-color: #F5F5F5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.divider {
  border: 1px solid #2F4F4F;
}

.headings {
  text-align: center;
  font-size: 3rem;
  font-weight: 300;
  color: #F5F5F5;
  background-color: #255a7b;
}

.headings::before {
  content: '< ';
}
.headings::after {
  content: ' >';
}

@media (prefers-color-scheme: light) {
}
